 <div class="container">
    <br/>
    <form action="/personaForm/persona/operar" method="POST" >
      <input type="hidden" name="_id" value="{{persona._id}}" />
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="nombre" class="form-control" id="nombre" name="nombre" value="{{persona.nombre}}" />
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="apellidos" class="form-control" id="apellidos" name="apellidos" value="{{persona.apellidos}}" />
      </div>
            <div class="form-group">
        <label for="edad">Edad:</label>
        <input type="edad" class="form-control" id="edad" name="edad" value="{{persona.edad}}" />
      </div>
      <button type="submit" class="btn btn-primary">Aceptar</button>
      <a href="/" class="btn btn-danger">Cancelar</a>
    </form>    
 </div>